<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>User</title>

    <style>
        .buttonAdd {
            color: black;
            cursor: pointer;
        }

        .aEdit {
            color: green;
            cursor: pointer;
        }

        .aDelete {
            color: darkred;
            cursor: pointer;
        }

        .aPdf {
            color: yellowgreen;
            cursor: pointer;
        }
    </style>

</head>
<body>


<header>
    <div>
        <button><a class="buttonAdd" href="/new">Add User</a></button>
    </div>
</header>

<section>
    <div>
        <table border="1">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Balance</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${allUser}">
                <td th:text="${user.getName()}">Artsiom</td>
                <td th:text="${user.getEmail()}">art@art.com</td>
                <td th:text="${user.getBalance()} ?: ' '">100</td>
                <td>
                    <form th:action="@{/money}" th:method="get">
                        <div class="input-group mb-3">
                            <input type="hidden" name="id" th:value="${user.getId()}">
                            <input type="number" name="add" class="form-control" placeholder="add">
                            <a href="/money">
                                <button type="submit">top up</button>
                            </a>
                        </div>
                    </form>
                </td>
                <td>
                    <form th:action="@{/spend}" th:method="get">
                        <div class="input-group mb-3">
                            <input type="hidden" name="id" th:value="${user.getId()}">
                            <input type="number" name="cash" class="form-control" placeholder="cash">
                            <a href="/spend">
                                <button type="submit">Spend</button>
                            </a>
                        </div>
                    </form>
                </td>
                <td>
                    <a class="aEdit" href="#">Edit</a>
                    <a class="aDelete" th:href="@{/delete/{id}(id=${user.getId})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<footer>
    <hr/>
    <p>&copy;Created by Artsiom Prokharau 2021</p>
</footer>

</body>
</html>
