<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>User</title>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" th:text="${method}">User create</span>
    </div>
</nav>

<section>
    <form th:action="@{/create}" th:method="get">
        <div class="input-group mb-3">
            <input type="text" name="name" class="form-control" placeholder="Name">
            <input type="text" name="email" class="form-control" placeholder="Email">
            <a href="/create">
                <button type="submit">Save</button>
            </a>
        </div>
    </form>
</section>


<footer>
    <hr/>
    <p class="container-xl">&copy;Created by Artsiom Prokharau 2021</p>
</footer>

</body>
</html>
