<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>User</title>

    <style>
        .buttonAdd {
            color: black;
            cursor: pointer;
        }

        .aEdit {
            color: green;
            cursor: pointer;
        }

        .aDelete {
            color: darkred;
            cursor: pointer;
        }

        .aPdf {
            color: yellowgreen;
            cursor: pointer;
        }
    </style>

</head>
<body>


<header>
    <div>
        <button><a class="buttonAdd" href="/new">Add User</a></button>
    </div>

<!--    <div>-->
<!--        <form method="get">-->
<!--        <input type="file" name="file" accept="application/xml">-->
<!--        <button><a href="/xml">Submit</a></button>-->
<!--        </form>-->
<!--    </div>-->
    <form method="POST" action="/xml" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label path="file">Select a file to upload</label></td>
                <td><input type="file" name="file" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
        </form>

</header>

<section>
    <div>
        <table border="1">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${allUser}">
                <td th:text="${user.getName()}">Artsiom</td>
                <td th:text="${user.getEmail()}">art@art.com</td>
                <td>
                    <a class="aEdit" href="#">Edit</a>
                    <a class="aDelete" th:href="@{/delete/{id}(id=${user.getId})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <button><a class="aPdf" th:href="@{/pdf}">Convert PDF</a></button>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p>&copy;Created by Artsiom Prokharau 2021</p>
</footer>

</body>
</html>
